{% extends 'layout.html' %}

{% block content %}

<div class="row">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div class="col-sm-12 p-4 mt-4">
<p class="display-4 font-weight-light">  Library of {{current_user.username}} </p>

    {% for file in files %}
    <br>
    <a href=" {{url_for( 'static', filename= 'downloads/' + file + '.mp3' )}} " class="file_download" download> <span class="font-weight-bold"> {{file}} </span></a>
    <br>
    {% endfor %}



  </div>
</div>

{% endblock content %}